.container {
  display: flex;
}

.drag-container {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100px;
  margin: 10px;
}

.drag-item {
  background-color: #f2f2f2;
  padding: 5px;
  margin: 5px;
}
